.about-cola {
    position: relative;
    overflow: hidden;
    background-color: $kolorPO;
    border-bottom: 0.3em solid $kolorPO;
    border-top: 0.3em solid $kolorPO;
  
    &__content {
      width: 100%;
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      padding: 2em;
      align-items: center;
      background-color: white;
  
      &--image {
        width: 500px;
        img {
          width: 100%;
        }
      }
  
      &--text {
        font-family: Arial, sans-serif;
        width: 500px;
        padding: 2em;
        h1 {
          margin-bottom: 1em;
        }
      }
    }
  }